/* for all */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #000;
    background-color: #f2f3f3;
}

section {
    max-width: 50vw;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    font-weight: 600;
    color: #40506E;
    font-size: 2.5em;
    text-align: left;
    margin: 45px 0 30px 0;
}

h2 {
    font-size: 1.8em;
    line-height: 2em;
    font-weight: 600;
    margin: 25px 0 15px 0;
    color: #957F70;
}

ul {
    list-style-type: none;
    margin-left: 20px;
}

li,
p {
    font-size: 1.7em;
    line-height: 1.9em;
}

.codeSkills ul>li:before {
    content: "►";
    padding-right: 0.5em;
    color: #40506E;
}

.languages ul>li:before {
    content: "►";
    padding-right: 0.5em;
    color: #40506E;
}

.otherSkills ul>li:before {
    content: "►";
    padding-right: 0.5em;
    color: #40506E;
}

/* section header */

header {
    position: relative;
    max-width: 1920px;
    min-height: 55vh;
    background-image: url('../img/head2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
}

header .arrowBack {
    position: absolute;
    left: 0%;
    top: 2%;
    text-align: left;
    font-size: 1.2em;
}

header img {
    width: 10%;
    border: 10px solid rgba(240, 237, 220, 0.5);
    border-radius: 50%;
    margin-top: 2vh;
    transition: 0.5s;
}

header img:hover {
    border: 10px solid #F0EDDC;
}

header h3 {
    text-transform: uppercase;
    color: #F0EDDC;
    font-size: 3em;
    font-weight: 600;
    margin: 20px 0 30px 0;
}

header p {
    font-size: 1.6em;
    color: #F0EDDC;
    margin: 0 32vw;
    line-height: 30px;
}

header .socialMedia {
    margin-top: 30px;
    padding-bottom: 25px;
}

header a {
    color: #F0EDDC;
    font-size: 3.5em;
    text-decoration: none;
    transition: 0.4s;
    padding: 0 10px;
}

header a:hover {
    color: #ACA18C;
}

/* section courses */

.generalInfo,
.Dscr {
    float: left;
    width: 50%;
}

.courses .generalInfo {
    width: 45%;
    margin: 15px 0;
}

.courses .Dscr {
    width: 55%;
    margin: 15px 0;
}

/* section skills */

.codeSkills,
.languages {
    float: left;
    width: 50%;
}

/* section experience */

.experience .generalInfo {
    width: 35%;
    margin: 15px 0;
}

.experience .Dscr {
    width: 65%;
    margin: 15px 0;
}

p:nth-child(2) {
    font-size: 1.5em;
    font-style: italic;
}

.generalInfo a {
    font-size: 1.8em;
    line-height: 2em;
    font-weight: 500;
    text-decoration: none;
    color: #957F70;
    transition: 0.3s;
}

a:hover {
    color: #40506E;
}

/* section education */

section.education {
    margin-bottom: 45px;
}

.uniInfo {
    margin: 25px 0;
}

.uniInfo span {
    font-size: 1.8em;
    line-height: 2em;
    font-weight: 500;
    color: #957F70;
}

/* footer */

footer {
    padding: 1em 1.5em;
    background: #ACA18C;
    color: #F0EDDC;
    text-align: right;
}

footer a {
    text-decoration: none;
    color: #40506E;
    transition: 0.3s;
}

footer a:hover {
    text-decoration: none;
    color: #F0EDDC;
    transition: 0.3s;
}

@media (max-width: 1024px) {
    header {
        min-height: 40vh;
    }

    section {
        max-width: 80vw;
    }

    header p {
        margin: 0 15vw;
    }

    .generalInfo,
    .Dscr {
        float: none;
        width: 100%;
    }

    .courses .Dscr {
        width: 100%;
    }

    .courses .generalInfo {
        width: 100%;
    }

    .experience .Dscr {
        width: 100%;
    }

    .experience .generalInfo {
        width: 100%;
    }
}

@media (orientation:portrait) and (max-width: 1024px) {
    body {
        font-size: 15px;
    }

    section {
        max-width: 90vw;
    }

    .codeSkills,
    .languages {
        float: none;
        width: 100%;
    }
}

@media (max-width: 832px) {
    body {
        font-size: 10px;
    }

    header img {
        width: 17%;
    }

    header p {
        line-height: 22px;
    }

}

@media (max-width: 768px) {
    header img {
        width: 16%;
    }

    body {
        font-size: 10px;
    }

    header p {
        line-height: 20px;
    }
}

@media (max-width: 667px) {
    header img {
        width: 17%;
    }

    body {
        font-size: 8px;
    }
}

@media (max-width: 414px) {
    header img {
        width: 35%;
    }

    header p {
        line-height: 25px;
        margin: 0 10vw;
    }
}